---
- name: Collect files and directories from tree
  ansible.builtin.set_fact:
    filetree_items: "{{ lookup('community.general.filetree', 'files/', wantlist=True) }}"
    files_that_should_not_be_overwritten:
      - files/.config/fish/conf.d/_init_env_confidential.fish

- name: Create layout of home directory
  ansible.builtin.file:
    path: "{{ devbox_paths.dotfiles_root_dir }}/{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  loop: "{{ filetree_items }}"
  when: item.state == 'directory'

- name: Copy configuration files to appropriate paths.
  ansible.builtin.copy:
    src: "files/{{ item.path }}"
    dest: "{{ devbox_paths.dotfiles_root_dir }}/{{ item.path }}"
    mode: "{{ item.mode | default('0644') }}"
    force: "{{ item.path not in files_that_should_not_be_overwritten }}"
  loop: "{{ filetree_items }}"
  when: item.state == 'file' and not item.path.endswith('.j2')

- name: Render config templates to appropriate paths
  ansible.builtin.template:
    src: "files/{{ item.path }}"
    dest: "{{ devbox_paths.dotfiles_root_dir }}/{{ item.path | regex_replace('\\.j2$', '') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ filetree_items }}"
  when: item.state == 'file' and item.path.endswith('.j2')
