---
- name: Override dotfiles_root_dir if dev_mode is enabled
  ansible.builtin.set_fact:
    devbox_paths: "{{ devbox_paths | combine({'dotfiles_root_dir': dev_dotfiles_path_override}) }}"
  when: dev_mode | default(false) | bool
  vars:
    dev_dotfiles_path_override: "../debug/dotfiles"

- name: "Install necessary homebrew packages for MacOS"
  ansible.builtin.include_tasks: main_darwin.yml
  when: ansible_facts['os_family'] == "Darwin"
- name: "Install necessary homebrew packages for Linux"
  ansible.builtin.include_tasks: main_linux.yml
  when: ansible_facts['os_family'] == "Linux"
- name: "Job is done"
  ansible.builtin.debug:
    msg: "Now please reboot your system to make changes applied properly"
