{% for p in devbox_shell.path_prepend %}
fish_add_path -g -p {{ p }}
{% endfor %}
{% for p in devbox_shell.path_append %}
fish_add_path -g -a {{ p }}
{% endfor %}
{% for item in devbox_shell.path_conditional %}
if test -d {{ item.check }}
  fish_add_path -g -a {{ item.add }}
end
{% endfor %}
