{
  "enabled": true,
  "public_key": "otelbox-local-public",
  "secret_key": "otelbox-local-secret",
  "base_url": "http://127.0.0.1:14318",
  "environment": "{{ devbox_active_profile }}",
  "debug": false,
  "fail_on_error": false
}
