{
  "allowNonWorkspaceAccess": true,
  "colorScheme": "tokyo night",
  "model": "Gemini 3.1 Pro (High)",
  "permissions": {
    "allow": [
      "command(uv)",
      "command(go tool task docs:check)",
      "command(grep)",
      "command(agy)",
      "command(python3 -c \"import site; print(site.getsitepackages())\")",
      "command(pip3 show google-antigravity)",
      "command(find)",
      "command(git ls-remote)",
      "command(git status)",
      "command(git diff)",
      "command(git log)"
    ]
  }
}
